.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;

}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a lightblue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: lightblue;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


#Tax{

text-align: center;
padding-top: 2em;

}

#taxP{

padding-top: 2em;

}

#taxAssist{

text-align: center;
padding-top: 2em;
    
}


.taxAssist{

padding-top: 1em;

  
}

#TAP {
padding-top: 2em;

text-align: center;
font-size: 50px;

}

ul{
text-align: center;
list-style-position: inside;

}


body{

background: #118eee;
margin: 0;

}

#small{


font-size: 20px;

}


html {
height:100%;
}

body {
margin:0;
}

.bg {
animation:slide 3s ease-in-out infinite alternate;
background-image: linear-gradient(-20deg, #6c3 50%, #09f 50%);  
bottom:0;
left:-100%;
opacity:.5;
position:fixed;
right:-50%;
top:0;
z-index:-1;
}

.bg2 {
animation-direction:alternate-reverse;
animation-duration:4s;
}

.bg3 {
animation-duration:5s;
}

.content {
background-color:rgba(255,255,255,.8);
border-radius:.25em;
box-shadow:0 0 .25em rgba(0,0,0,.25);
box-sizing:border-box;
left:50%;
padding:10vmin;
position:fixed;
text-align:center;
top:50%;
transform:translate(-50%, -50%);
}

h1 {
font-family:monospace;
}

@keyframes slide {
0% {
  transform:translateX(-25%);
}
100% {
  transform:translateX(25%);
}
}